@page
@model PuppyYoga.Pages.YogaClasses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>YogaClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.ClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.ClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.MaxCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.MaxCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YogaClass.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YogaClass.Instructor.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="YogaClass.YogaClassID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
