@page
@model PuppyYoga.Pages.Enrollments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].YogaClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].PuppySessions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EnrollmentD.Enrollments) {
            string selectedRow = "";
            if(item.EnrollmentID == Model.EnrollmentID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YogaClass.ClassName)
            </td>
            <td>
                    @{
                        foreach (var session in item.PuppySessions)
                        {
                            @session.Session.SessionId @: @session.Session.SessionName <br/>
                        }
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EnrollmentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EnrollmentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EnrollmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
